{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "jsx", "react"
  ],
  "rules": {
    "jsx/uses-factory": [2, {"pragma": "JSX"}],
    "jsx/mark-used-vars": 2,
    "jsx/no-undef": 2,
    "react/prop-types": 2,
    "no-console": 1,
    "space-before-blocks": 2,
    "arrow-spacing": 2,
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "space-in-parens": 2,
    "spaced-comment": 2,
    "semi": 2,
    "quotes": [2, "single"],
    "no-multiple-empty-lines": 2,
    "max-statements": [2, 15],
    "max-depth": [2, 2],
    "complexity": [2, 5],
    "max-len" :[1, 65],
    "max-params" :[1, 1]
  }
}
